@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: theme(colors.color.primary);
  --color-secondary: theme(colors.color.secondary);
  --color-dark: theme(colors.color.dark);
  --color-accent: theme(colors.color.accent);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contoh penggunaan di global */
body {
  background-color: var(--color-primary);
  color: white;
}
